*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
 img{
    max-width: 100%;
    height:100%;
} 
.container{
    margin: auto;
    background-color: #ead7cbf9;
}
nav{
    /* background-color: #676565; */
    display: flex;
    justify-content:space-between;
    max-width: 1200px;
    margin: auto; 
    padding: 15px 0;
}
ul{
    display: flex;
    justify-content:space-between;
    margin: 2px;
    list-style: none;
    gap: 10px;
    align-items: center;
   
}
a{
    text-decoration: none;
    color: #474747FF;
    font-size: 20px;
}
li{
    font-size: 20px;
}
pre{
    font-size: 20px;
}
.btn{
    height: 64px;
    width: 150px;
    background-color: #fd6e0aFF;
    /* padding: 10px 20px; */
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color: white;
    border: none;
    cursor: pointer;
    
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    /* background-color: #e29e70c4; */
}
.hero-left-p1{
    font-size: 30px;
    font-weight: 600px;
    
}
.hero-left h1{
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 10px;
}
.button{
    height: 64px;
    width: 150px;
    background-color: rgb(253, 250, 248);
    /* padding: 10px 20px; */
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color: #fd6e0aFF;
    border: 1px solid #fd6e0aFF;
    border-radius: 10%;
    cursor: pointer;
}
.hero-left-btn{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.about{
    background-color: #ead7cbf9;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    /* display: flex; */
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}
.about p{
    margin-top: 20px;
}
.about-info{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* align-items: center; */
}
.what-i-do{

    background-color: #efeae7f9;
    gap: 20px;
}
.what-i-do .about-info div {
    background-color: rgb(255, 255, 255);
    border:rgb(246, 238, 238) 1px solid;
    /* gap: 20px; */
}
.what-i-do .about-info {
    gap: 20px;
    margin-top: 50px;
}
.info{
    padding: 30px;
    text-align: left;
}
.skills .about-info .info{
    max-width: 600px;
}
.skills{
    background-color: #efeae7f9;
    border:rgb(246, 238, 238) 1px solid;
}
.gallery{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: 200px;
    grid-template-areas:
        "one two three"
        "four two six"
        "four five six";
}
.gallery img{
   height: 100%;
   width: 100%;
    object-fit: cover;
}

.box1{
  grid-area: one;
}
.box2{
  grid-area: two;
}
.box3{
  grid-area: three;
}
.box4{
  grid-area: four;
}
.box5{
  grid-area: five;
}
.box6{
  grid-area: six;
}

.footer{
    background-color: #efeae7f9;
    text-align: center;
    /* padding: 20px; */
    display: grid;
grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
    gap: 100px;
    margin-bottom: 40px;
}
.footer form input{
    background-color: white;
    display: block; 
    border: none;
    margin-bottom: 10px;
    width:100%;
    padding: 10px;
}
.footer form button{
    height: 32px;
    width: 100px;
font-size: 10px;
}
.footer form{
   padding: 20px;
}
.footer form textarea{
    background-color: white;
    display: block; 
    border: none;
    margin-bottom: 10px;
    width:100%;
    padding: 10px;
}